/* Estilos Globais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #6e0b0b;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    background: #222;
    color: #fff;
    padding: 20px 0;
    border-radius: 8px;
}

header h1 {
    margin: 0;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movie-info {
    text-align: center;
    margin-bottom: 20px;
}

.movie-info img {
    width: 100%;
    max-width: 300px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.movie-info h2 {
    color: #555;
}

button#backToTop {
    background: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}

button#backToTop:hover {
    background: #555;
}
