/* style.css */

/* Estilos Gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

/* Conteúdo Principal */
.main-content {
    padding: 20px;
}

.movie-info {
    text-align: center;
}

.movie-info img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.movie-info h2 {
    margin-top: 20px;
}

/* Botão Voltar ao Início */
#backToTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 50%;
    font-size: 24px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

#backToTop:hover {
    background-color: #555;
}

/* Estilos da Galeria */
.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    justify-content: center;
}

.gallery-item {
    flex: 1 1 200px;
    overflow: hidden;
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
    cursor: pointer;
    transition: transform 0.3s;
}

.gallery-item img:hover {
    transform: scale(1.05);
}

/* Lightbox Modal */
.lightbox-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.lightbox-content {
    position: relative;
    max-width: 80%;
    max-height: 80%;
}

.lightbox-content img,
.lightbox-content video,
.lightbox-content iframe {
    width: 100%;
    height: auto;
}

iframe {
    height: 500px; /* Ajuste a altura conforme necessário */
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 36px;
    color: #fff;
    cursor: pointer;
}
